<script>
  import { gFade } from '$lib/gsapAnimations/tweenMe';
</script>

<div
  class="relative flex flex-col font-[Ubuntu] w-full  lg:pt-0 lg:flex-col lg:pb-0"
>
  <div class=" pb-20 bg-myColor-600 min-h-max  w-full">
    <h1 class="text-5xl font-[Maven]">Welcome to Nyamninia High School</h1>
    <p class="text-4xl">The People For Tomorrow</p>
  </div>
    <div class="flex flex-col  gap-2 md:flex-row   h-32   mx-2   ">
      <div class=" w-full bg-myColor-200 p-2">
        <p class="pt-0">Mission</p>
        <div class="bg-transparent w-1/4 border-b-black border " />
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iusto qui
          facilis nostrum dolorem quo.
        </p>
      </div>
      <div class="bg-myColor-400 w-full p-2">
        <p class="pt-0">Vision</p>
        <div class=" w-1/4 border-b-black border " />
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iusto qui
          facilis nostrum dolorem quo.
        </p>
      </div>
      <div class="w-full bg-myColor-200 p-2">
        <p class="pt-0">Goals</p>
        <div class="bg-transparent w-1/4 border-t-black border " />
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iusto qui
          facilis nostrum dolorem quo.
        </p>
      </div>
    </div>
</div>
